body {
  font-family: "Montserrat-mediun";
}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "montserrat-bold";
  font-size: 3rem; /* 3rem = 48px */
  line-height: 1.2;
}

h3 {
  font-family: "Montserrat";
  font-size: 1.17rem;
}

p {
  color: #8f8f8f;
}

/* Navigation-bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "montserrat-light";
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */

.title-img {
  width: 60%;
  transform: rotate(26deg);
  position: absolute;
  right: 30%;
}

/* Features */

#features {
  background-color: white;
  padding: 7% 15%;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 0 4%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem; /*10px */
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials section*/

#testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}

#testimonials-carousel {
  padding: 7% 15%;
}

.testimonial-image {
  width: 14%;
  border-radius: 100%;
  margin: 10px;
}

/* press section */

#press {
  background-color: #ef8172;
  text-align: center;
  width: 14%s;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 2% 2%;
}

/* Call to Action */
#cta {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.cta-h3 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer */
#footer {
  text-align: center;
  padding: 7% 15%;
}
.sicial-icon {
  margin: 20px 10px;
}

/* media query */

@media (max-width: 1030px) {
  #title {
    text-align: center;
  }
  .title-img {
    width: 50%;
    position: static;
    transform: rotate(0);
  }
}
